<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://git.oschina.net/rayma/Medicine/attach_files/download?i=8032&u=http%3A%2F%2Ffiles.git.oschina.net%2Fgroup1%2FM00%2F00%2F51%2FcHwGbFS3Tz2AS-7MANUGumCVEK4943.ipa%3Ftoken%3Da768ab70cf5eba0557041ff8125449be%26ts%3D1421299529%26filename%3DMedicine.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jiuyi.medicine</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Medicine</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
